<!-- <ckeditor [editor]="Editor" data="" (ready)="onReady($event)"></ckeditor> -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span style="margin-right: 10px;">Tên bài viết</span> {{baiViet.Alias}}
            <input type="text" class="form-control" (keyup)="nhapTenBaiViet($event)" [(ngModel)]="baiViet.Ten">
            <input type="text" class="form-control hidden" [(ngModel)]="baiViet.Alias" disabled>
            <span>Chọn danh mục</span>
            <select class="form-control" aria-label="Default select example"
                (change)="chonDanhMuc($event.target.value)">
                <option value="0" selected>Chọn danh mục</option>
                <option *ngFor="let item of danhMuc" value="{{item.Id}}">{{item.Ten}}</option>
            </select>

            Thứ tự hiển thị
            <input type="number" class="form-control" [(ngModel)]="baiViet.ThuTuHienThi">
            <span>Hiển thị</span>
            <input type="checkbox" class="btn btn-default" [(ngModel)]="baiViet.HienThi">
        </div>
        <div class="col-md-6">
            <img [src]="hienThiHinhAnh" height="200">
            <input id="defalt-top" [ngClass]="{'btn-file' : !hienThiHinhAnh}" type='file'
                (change)="onSelectFile($event)">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ck-noi-dung-ngan">
            <ckeditor [(ngModel)]="baiViet.NoiDungNgan" [editor]="Editor" data=""></ckeditor>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ckeditor [(ngModel)]="baiViet.NoiDung" [editor]="Editor" data=""></ckeditor>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-8"></div>
        <div class="col-md-4 d-flex justify-content-end">
            <button style="margin-right: 5px;" (click)="themNhanVat()" class="btn btn-primary">Thêm nhân vật</button>
            <button (click)="save()" class="btn btn-primary">Lưu</button>
        </div>
    </div>
    <div *ngIf="isThemNV" class="row">
        <hr>
        <div class="col-md-6">
            <img [src]="hienThiHinhAnhNV" height="200">
            <input id="defalt-top" [ngClass]="{'btn-file' : !hienThiHinhAnhNV}" type='file'
                (change)="onSelectFileNV($event)">
            <br>
            <span>Tên nhân vật</span>
            <input type="text" class="form-control" [(ngModel)]="baiViet.TenNV">
            <span>Nội dung nhân vật</span>
            <input type="text" class="form-control" [(ngModel)]="baiViet.NoiDungNV">            
        </div>
        <div class="col-md-6">
            <span>Nơi tạo danh</span>
            <input type="text" class="form-control" [(ngModel)]="baiViet.NoiTaoDanhNV">

            <span>Điểm tàn bạo</span>
            <input type="text" class="form-control" [(ngModel)]="baiViet.DiemTanBao">
            <span>Điểm nguy hiểm</span>
            <input type="text" class="form-control" [(ngModel)]="baiViet.DiemNguyHiem">
            <span>Điểm bề ngoài</span>
            <input type="text" class="form-control" [(ngModel)]="baiViet.DiemBeNgoai">
        </div>
    </div>
    <div class="row footer2">
        <div>

        </div>
    </div>
</div>