<div class="container-fluid fh5co_footer_bg pb-3">
    <div class="container animate-box">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="footer_main_title py-3"> Category</div>
                <ul class="footer_menu">
                    <li *ngFor="let item of danhMucMeNus"><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; {{item.TenDanhMuc}}</a></li>
           
                </ul>
            </div>



            <div class="col-12 col-md-8 col-lg-4 ">
                <div class="footer_main_title py-3"> Last Modified Posts</div>
                <a href="#" class="footer_img_post_6"><img src="assets/images/allef-vinicius-108153.jpg"
                        alt="img" /></a>
                <a href="#" class="footer_img_post_6"><img src="assets/images/32-450x260.jpg" alt="img" /></a>
                <a href="#" class="footer_img_post_6"><img src="assets/images/download (1).jpg" alt="img" /></a>
                <a href="#" class="footer_img_post_6"><img src="assets/images/science-578x362.jpg" alt="img" /></a>
                <a href="#" class="footer_img_post_6"><img src="assets/images/vil-son-35490.jpg" alt="img" /></a>
                <a href="#" class="footer_img_post_6"><img src="assets/images/zack-minor-15104.jpg" alt="img" /></a>
                <a href="#" class="footer_img_post_6"><img src="assets/images/download.jpg" alt="img" /></a>
                <a href="#" class="footer_img_post_6"><img src="assets/images/download (2).jpg" alt="img" /></a>
                <a href="#" class="footer_img_post_6"><img src="assets/images/ryan-moreno-98837.jpg" alt="img" /></a>
            </div>
        </div>
        <div class="row justify-content-center pt-2 pb-4">
            <div class="col-12 col-md-8 col-lg-7 ">
                <div class="input-group">
                    <span class="input-group-addon fh5co_footer_text_box" id="basic-addon1"><i
                            class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control fh5co_footer_text_box" placeholder="Enter your email..."
                        aria-describedby="basic-addon1">
                    <a href="#" class="input-group-addon fh5co_footer_subcribe" id="basic-addon12"> <i
                            class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
        <div class="row  ">
            <div class="col-12 col-md-6 py-4 Reserved"> BÁO NGÂN HÀNG ĐIỆN TỬ © 2021. Design by <a
                    href="https://freehtml5.co" title="Free HTML5 Bootstrap templates">Bank POST .USA in VIệt Nam </a> .
            </div>
            <div class="col-12 col-md-6 spdp_right py-4">
                <a href="#" class=" Reserved">Vay nhanh ngân hàng</a>
            </div>
        </div>
    </div>
</div>