<div class="container">
    <div class="row">
        <div class="col-mad-12">
            <span>Tên danh mục</span>
            <input type="text" class="form-control" [(ngModel)]="danhMucBaiViet.Ten">
            <span>Tên alias</span>
            <input type="text" class="form-control" [(ngModel)]="danhMucBaiViet.Alias">
            <!-- <span>Chọn danh mục cha</span>
            <select class="form-control" aria-label="Default select example"
            (change)="chonDanhMucCha($event.target.value)">
                <option value="0" selected>Chọn danh mục cha</option>
                <option *ngFor="let item of danhMucCha" value="{{item.Id}}">{{item.Ten}}</option>
              </select> -->
              <p *ngIf="danhMucBaiViet.TenDanhMucCha">Thuộc danh mục: <b>{{danhMucBaiViet.TenDanhMucCha}}</b></p>
            <span>Logo</span>
            <input type="text" class="form-control" [(ngModel)]="danhMucBaiViet.Logo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <button (click)="save()" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</div>